.git
.github
node_modules
vendor
.env
.env.local
.env.*.local
docker-compose*.yml
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.md
.editorconfig
.gitattributes
phpunit.xml
